body {
    font-family: Arial, sans-serif;
    background-color: #101728;
    height: 100vh;
    gap: 50px;
    margin: 0;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-conteiner {
    width: 350px;
    background-color: #1f2840;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

.sub-title {
    font-weight: 700;
}

#game-info {
    margin-bottom: 20px;
}

#game-info p {
    text-align: left;
    margin: 8px 0;
}

.word-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 24px;
}

.word-display span {
    margin: 0 1px;
}

.word-input {
    width: 250px;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.correct {
    color: #ff5757 !important;
}



/* display */

.box-display {
    cursor: pointer;
    /* margin-bottom: 50px; */
    height: 17px;
    padding: 10px;
    background-color: #1f2840;
    overflow: hidden;
    position: relative;

}

.box-display h2 {
    margin: 0 0 10px 0;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
}

.players-wrapper {
    display: flex;
    /* overflow: hidden; */
    white-space: nowrap;
    position: absolute;
    width: 100%;
    animation: scroll-left 30s linear infinite;
}

.players {
    display: flex;
    font-size: 10pt;
    align-items: center;
}

.premio {
    align-items: center;
    display: flex;
    margin: 10px 0 5px 20px;
    width: 250px;
    gap: 20px;
    padding: 0 10px;
    border: 1px solid;
    border-radius: 10px;
}

@keyframes scroll-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

.box-player {
    padding: 0 150px; /* Adiciona espaçamento entre os itens para a rolagem */
}