@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body {
    
}

.header {
    display: flex;
    height: 100px;
    align-items: center;
    transition: .3s ease;
    justify-content: space-around;
    background-image: linear-gradient(10deg, #0a8649, #17571e);
    color: #fff;
}
.header:hover {
    height: 130px;
}
.header img {
    width: 250px;
    transition: .3s;
}
.header h1 {
    transition: .3s;
}

@media screen and (max-width: 670px) {
    .header img {
        width: 200px;
        margin: 0 10px;
    }
    .header h1 {
        font-size: 24px;
    }
}
@media screen and (max-width: 380px) {

}



.container {
    display: flex;
    /* gap: 50px; */
    align-items: center;
    justify-content: center;
}
.pc-conteiner {
    display: flex;
    max-width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}








.cards {
    scale: .85;
    width: 220px;
    margin: 30px;
    perspective: 1000px;
    cursor: pointer;
    transform-style: preserve-3d;
}


.cardTop {
    width: 100%;
    height: 200px;
    display: flex;
    perspective: 1000px;
    align-items: center;
    justify-content: center;
    /* background-color: #00bf63; */
    transform-style: preserve-3d;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;


    background: radial-gradient(circle, #00bf63, #00a24b, #008d3e, #007637, #00602a);
    background: linear-gradient(135deg, rgba(0, 191, 99, 1) 0%, rgba(0, 179, 84, 0.9) 25%, rgba(0, 167, 70, 0.8) 50%, rgba(0, 155, 56, 0.7) 75%, rgba(0, 143, 42, 0.6) 100%);
    background: repeating-linear-gradient(45deg, #00bf63, #00a24b 10%, #008d3e 20%, #00a24b 30%, #00bf63 40%);
    background: linear-gradient(45deg, #00bf63 10%, #00a24b 30%, #008d3e 50%, #007637 70%, #00602a 90%);

}

.d1 {
    background: radial-gradient(circle, #ffcc00, #ff9900, #cc7a00, #b56c00, #996300);
    background: linear-gradient(135deg, rgba(255, 215, 0, 1) 0%, rgba(255, 204, 0, 0.9) 25%, rgba(255, 186, 0, 0.8) 50%, rgba(255, 165, 0, 0.7) 75%, rgba(255, 140, 0, 0.6) 100%);
        background: repeating-linear-gradient(45deg, #ffd700, #ffcc00 10%, #ffb300 20%, #ffcc00 30%, #ffd700 40%);
background: linear-gradient(45deg, #f8d03c 10%, #e8b732 30%, #d79b28 50%, #c88b1e 70%, #b77a14 90%);
}


.cardTop img {
    width: 100px;
    transition: .3s ease;
    transform-style: preserve-3d;
}
.cardTop img::selection {
    color: #fff;
}

.cards:hover .cardTop img {
    transform: translateZ(40px);
}





.cardBottom {
    background: #d9d9d9;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-style: preserve-3d;
}

.cardBottom h2::selection {
    color: #000;
}

.cards:hover .cardBottom h2 {
    transform: translateZ(40px);
}






#tsi {
    width: 150px;
}


#CardFor {
    /* background: #623C80; */
    background: radial-gradient(circle, #623c80, #5a3272, #4b2a64, #3e2158, #31184c);
    background: linear-gradient(135deg, rgba(98, 60, 128, 1) 0%, rgba(90, 50, 114, 0.9) 25%, rgba(75, 42, 100, 0.8) 50%, rgba(62, 33, 88, 0.7) 75%, rgba(49, 24, 76, 0.6) 100%);
    background: repeating-linear-gradient(45deg, #623c80, #5a3272 10%, #4b2a64 20%, #5a3272 30%, #623c80 40%);
    background: linear-gradient(45deg, #623c80 10%, #5a3272 30%, #4b2a64 50%, #3e2158 70%, #31184c 90%);
}
